<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>All Employees</title>
</head>
<body>

<table class="table table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Email Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employee}">
            <td th:text="${employee.getfirstName()}"></td>
            <td th:text="${employee.getlastName()}"></td>
            <td th:text="${employee.gettitle()}"></td>
            <td th:text="${employee.getemailAdd()}"></td>
            <td>
            <a href="@{/employee/edit/{fullName}(fullName=${employee.getfullName})}" 
            class="btn btn-success btn-sm" role="button">Update</a>
            </td>
        </tr>
        </tbody>
    </table>

<a href="/addEmployee">Add Another Employee</a>
<a href="/lookUp">Look up employees</a>

</body>
</html>